input {
    stdin {}
    beats {
        port => 5044
    }
}

filter {
    multiline {
        pattern => "^%{LOGLEVEL}"
        negate => true
        what => previous
    }
    grok {
        match =>[
            "message", "%{LOGLEVEL:level}\s+\[%{TIMESTAMP_ISO8601:logdate}\]\s+%{JAVACLASS:classname}\: %{GREEDYDATA:message}",
            "message", "(?<logdate>[\d|-]+\s[\d|:]+,[\d]+)\s+(?<classname>[\w|.]+):\s\[(?<method>\w+)\]\s-(?<status>\d+)-\s(?<message>.+)"
        ]
        overwrite => ["message"]
    }
    date {
        match => [ "logdate" , "yyyy-MM-dd HH:mm:ss,SSS" ]
    }
}
output{
    elasticsearch {
        hosts => "192.168.33.12:9200"
        manage_template => false
        index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
        document_type => "%{[@metadata][type]}"
    }
    stdout {codec=>rubydebug}
}
